<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		{% include 'bootstrap-jquery.html' %}
		
		<script type="text/javascript" src="{{ burl }}/js/notes.js"></script>
		
		<link rel="stylesheet" media="screen" href="{{ burl }}/css/notes.css" />
		
		<title>{{ i18n.notes.title }}</title>
	</head>
	<body>
		<div id="container" class="container-fluid">
			{% include 'notes-body.html' %}
		</div>
		
		<img id="notepad" src="{{ burl }}/img/notepad.png" alt="notepad" />
	</body>
</html>