@CHARSET "UTF-8";

#menu {
	position: fixed;
	margin-top: 15px;
	margin-left: 40px;
}

li.active a, li.active a:link, li.active a:hover, li.active a:visited {
	background-color: black !important;
	color: white !important;
}