<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		{% include 'bootstrap-jquery.html' %}
		
		<title>{{ i18n.notes.title }}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span4 offset4">
					<h2 style="text-align: center;">{{ i18n.notes.h2 }}</h2>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 offset3">
					<ul>
					    {% for note in notes %}
					        <li>{{ note.text }}</li>
					    {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>