<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		{% include 'bootstrap-jquery.html' %}
		
		<title>{{ i18n.note.title }} | {{ nota.id }}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span4 offset4">
					<h2 style="text-align: center;">{{ nota.titolo }}</h2>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 offset3">
					<p>{{ nota.testo }}</p>
				</div>
			</div>
		</div>
	</body>
</html>